@model HomeBookkeping.Models.Operation
@{
    ViewBag.Title = "Добавление Операции";
}
    <form asp-action="AddOperation" asp-controller="home">
        <div >
           <input type="hidden" asp-for="User.Email" value=@User.Identity.Name />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Data" class="control-lebel">Дата</label>
            <input type="datetime-local" asp-for="Data" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NameAct" class="control-label">Действие</label>
            <input type="text" asp-for="NameAct" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Type" class="control-label">Тип</label>
            <input type="text" asp-for="Type" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="View" class="control-label">Вид</label>
            <input type="text" asp-for="View" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Sum" class="control-label">Сумма</label>
            <input type="number" asp-for="Sum" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Coment" class="control-label">Комент</label>
            <input type="text" asp-for="Coment" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </form>